[package]
name = "cli"
description = "CLI for Alembic"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
readme.workspace = true
build = "build.rs"

[dependencies]
anyhow = { workspace = true }
clap = { version = "4.5", features = ["derive"] }
crossterm = "0.27"
ctrlc = { version = "3.4.5", features = ["termination"] }
libalembic = { path = "../libalembic" }
ratatui = "0.28"
